# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Modelos treinados
models/*.pkl

# Dados processados
data/processed/

# Dataset original
data/raw/creditcard.csv

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db